/* base */
@import "base/reset.css";
@import "base/fonts.css";
@import "base/scrollbar.css";
@import "base/variables.css";

/* utils */
@import "utils/running-line.css";

/* components */
@import "components/header.css";
@import "components/main/main.css";
@import "components/main/main__first.css";
@import "components/main/main__second.css";
@import "components/main/main__third.css";
@import "components/main/main__fourth.css";
@import "components/footer.css";

/* general */
.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--background-color);
}
.container {
  width: 1222px;
}

/*
владею препроцессором sass знаю как работают вложенности, наследование, sass переменные, не использовала этот инструмент так как в требованиях указано четко - css.
*/
